*{
  box-sizing: border-box;
}
body{
  color:gray;
  background-color: black;
  font-family: monospace;
}
.App{
  display: flex;
  flex-direction: column;
}
.wordWrapper{
    font-size: 25px;
    min-width: 700px;
    max-width: 1000px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0 auto;
    left: 0;
    right: 0;
    top:40%;
    transform: translate(0,-50%);
}
.curr{
border-bottom: 4px solid rgb(0, 213, 255);
height: 30px;
}
#height{
  height: 30px;
}