
*{
  box-sizing: border-box;
}
body{
  color:gray;
  background-color: black;
  font-family: monospace;
}
.App{
  display: flex;
  flex-direction: column;
}
.wordWrapper{
    font-size: 25px;
    min-width: 700px;
    max-width: 1000px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0 auto;
    left: 0;
    right: 0;
    top:40%;
    transform: translate(0,-50%);
}
.curr{
border-bottom: 5px solid rgb(0, 255, 229);
height: 30px;
}
#height{
  height: 30px;
}
#timer{
  font-size: 1.2rem;
  color: aqua;
}
#timerWrapper{
  font-size: 1.2rem;
  color: rgb(255, 0, 255);
}
.window{
  background-color: black;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  margin:0 auto;
  left: 0;
  right: 0;
  top:40%;
  transform: translate(0,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
  width: 700px;
  border: 1px solid skyblue;
  box-shadow: 4px 4px rgb(2, 238, 255);
}
.window:after {
  content:"";
  border-bottom: 1px dashed #ff0000;
  position: relative;
}
.window button{
  font-size: 1.2rem;
  cursor: pointer;
  width: 130px;
  height: 50px;
  border: 1px solid skyblue;
  background-color: black;
  color: rgb(255, 0, 255);
  box-shadow: 2px 2px purple;
}
#blur{
  font-size: 1.4rem;
  border: 1px solid skyblue;
  width: 600px;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  margin:0 auto;
  left: 0;
  right: 0;
  top:40%;
  transform: translate(0,-50%);
  color: rgb(0, 238, 255);
  background-color: black;
  height: 70px;
  align-items: center;
  display: none;
  justify-content: center;
  box-shadow: 2px 2px purple;
 
}